{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
%}
<div class="page-content">
  <form class="search" method="get" action="{{ url_for('search') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
      type="text"
      name="search"
      value="{{ search or '' }}"
      placeholder="Search by name, IP"
    />
    <button type="submit">Search</button>
  </form>

  <section class="leaderboard">{% include "leaderboard.html" %}</section>
</div>
{% endblock %}
